.planScreen__plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  opacity: 0.8;
}

.planScreen__plan:hover {
  opacity: 1;
}

.planScreen__plan > button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}

.planScreen__plan--disabled > button {
  background-color: #828182;
}
